
.navbar-sec {
    width: 100%;
    background-color: rgb(12, 12, 14); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 25px 25px;
   
}

.navbarList {
    list-style: none;
    padding-top: 5px;
    text-align: center;    
}
.navbarList li {
    display: inline-block;
    font-size: 30px;
   
    
}

.navbarList a:not(:last-child) {
 
       margin-right: 50px;
    
}
.navbarList a {
    color: #fff;
}
.navbarList .active {
    color: rgb(45,136,255);
   
    
}


@media only screen and (max-width: 600px) {
    .navbarList li {
        display: inline-block;
        font-size: 20px;
     
    }

    .navbarList a:not(:last-child) {
 
        margin-right: 30px;
      }

    .navbarList a:not(:first-child) {
 
        margin-right: 25px;
     
 }

   
}

